﻿<h2>Grupos</h2>


@section scripts {
	<script src="~/scripts/controllers/grupos/index.js" type="text/javascript"></script>
}


<form action="/OData/Grupos" class="form-inline" role="form" data-bind="formSearch: Grupos, urlFilterBuild: urlFilter">
	<div class="form-group">
		<input type="text" class="form-control" placeholder="nome do grupo" autocomplete="off" data-bind="value: nome">
	</div>

	<div class="form-group">
		<input type="text" class="form-control" placeholder="id do grupo" autocomplete="off" data-bind="value: id">
	</div>

	<button type="submit" class="btn btn-default btn-sm">
		<span class="glyphicon glyphicon-search"></span> Pesquisa
	</button>
</form>

<hr />

<table class="table table-hover" data-bind="visible: ko.unwrap(Grupos).length > 0">
	<thead>
		<tr>
			<td>#</td>
			<td>Nome</td>
		</tr>
	</thead>
	<tbody data-bind="foreach: Grupos">
		<tr>
			<td data-bind="text: Id"></td>
			<td data-bind="text: Nome"></td>
		</tr>
	</tbody>
</table>

<p class="text-muted text-center" data-bind="visible: ko.unwrap(Grupos).length <= 0">Nenhum grupo encontrado!</p>